---
---
$page-background-colour: #111;
$page-background-dark-colour: black;
$page-text-colour: #eee;
$page-text-dark-colour: black;
$text-background-colour: #fcfcfc;
$text-min-width: 25em;
$text-min-width-mobile: 10em;
$text-max-width: 35em;
$shadow-colour: black;
$border-colour-light: #ccc;
$border-colour-dark: black;

@mixin border($colour) {
  border: 1px solid $colour;
}

html, body {
  font: 1.1em Georgia, serif;
  line-height: 150%;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: $page-background-colour;
  color: $page-text-colour;

  @media print {
    background-color: white;
    color: black;
  }

  @media only screen and (max-device-width: 480px) {
    font-size: 1.0em;
    line-height: 125%;
  }
}

body {
  @media print {
    margin: 0 12pt;
    font-size: 12pt;
  }
}

a {
  &:link, &:visited {
    color: inherit;
  }

  @media print {
    text-decoration: none;
  }
}

#header {
  min-width: 29em;
  background-color: black;
  background: url(/images/header.jpg) bottom center no-repeat;
  background-size: cover;
}

#header, #footer, object {
  @media print {
    display: none;
  }
}

#title {
  font-weight: bold;
  color: #EEE;

  h1 {
    margin: 0 0.4em 0.4em;
    padding-top: 0.5em;
  }
}

#title, #menu {
  text-shadow: 0 0 4px $shadow-colour;
  text-align: center;
}

h1 {
  font-size: 2.5em;

  @media only screen and (max-device-width: 480px) {
    font-size: 2.1em;
  }
}

h1, h2, #menu, .post_date {
  a {
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

h1, h2, h3, h4 {
  @media print {
    page: {
      break-inside: avoid;
      break-after: avoid;
    }
  }
}

#menu {
  font: {
    weight: bold;
    size: 1.2em;
  }
  text: {
    decoration: none;
    transform: lowercase;
  }
  padding: 0.25em 0 0.25em 0;

  li {
    display: inline-block;
    position: relative;
  }

  a {
    padding: 0 0.5em;
    width: 100%;
    line-height: 125%;
  }
}

#main {
  background-color: $text-background-colour;
  color: $page-background-dark-colour;
  border-bottom: solid $border-colour-dark 1px;

  @media print {
    border-bottom: none;
    background-color: white;
    color: black;
  }
}

#main, #footer {
  padding: 0 1em;
  min-width: $text-min-width + 2em;
}

@mixin hyphens-auto {
  @each $prefix in "-moz-", "-webkit-", "" {
    #{$prefix}hyphens: auto;
  }
}

#header, #main, #footer {
  @media only screen and (max-device-width: 480px) {
    min-width: $text-min-width-mobile + 2em;
  }
}

#content, #sidebar {
  margin: 0 auto;
  min-width: $text-min-width;
  max-width: $text-max-width;
  word-wrap: break-word;
  @include hyphens-auto;

  @media only screen and (max-device-width: 480px) {
    min-width: $text-min-width-mobile;
    margin: 0;
  }
}

.type-post, .type-page {
  padding-bottom: 2em;
}

p {
  @media print {
    page-break-inside: avoid;
  }
}

h2 {
  font: {
    weight: bold;
    size: 1.8em;
  }
  line-height: 110%;
  margin: 0;
  padding: 0.5em 0 0 0;

  @media only screen and (max-device-width: 480px) {
    font-size: 1.4em;
  }
}

.post_date {
  font: {
    style: normal;
    variant: normal;
    size: 1.2em;
  }
  margin: 0.2em 0;

  @media only screen and (max-device-width: 480px) {
    font-size: 1.1em;
  }
}

img {
  text-decoration: none;
  border: none;
}

#content, td {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
}

#content {
  embed, object, iframe {
    max-width: 100%;
  }

  @media print {
    padding: 0;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}

h3, #toctitle {
  font-size: 1.4em;
  margin: 1.5em 0 -0.5em 0;

  @media only screen and (max-device-width: 480px) {
    font-size: 1.2em;
  }
}

h4 {
  font-size: 1.2em;
  margin: 1.5em 0 -0.8em 0;

  @media only screen and (max-device-width: 480px) {
    font-size: 1.0em;
  }
}

#content, td
{
  img {
    padding: 4px;
    @include border($border-colour-light);
    border-radius: 5px;
  }
}

.index-lists p img, .type-post img {
  display: block;
  margin-bottom: 4px;
}

.speakerdeck-thumb {
  width: 321px;
  height: 181px;
  float: left;
  margin: 0 1em 1.5em 0;
  padding-top: 0.75em;

  img {
    padding: 0 !important;
    max-height: 181px;
  }

  @media only screen and (max-device-width: 480px) {
    float: none;
  }
}

table caption {
  font: {
    weight: bold;
    size: 1.1em;
  }
  text-align: left;
}

table, thead, tr, td, th {
  border: none;
  border-collapse: collapse;
}

tbody td {
  text-align: center;
  padding: 0 0.2em;
}

th, tfoot {
  font-weight: bold;
  border: 1px $border-colour-dark none;
}

#sidebar {
  margin-top: 1em;

  th, tfoot {
    border-color: $page-text-colour;
  }
}

th {
  text-align: center;
  border-bottom-style: solid;
}

tfoot {
  border-top-style: solid;
}

.noborder, .noborders img {
  border: none !important;
}

@mixin align($side) {
  text-align: $side;
  margin-#{$side}: 0.5em;
  float: $side;
}

blockquote {
  &:before {
    display: block;
    font-size: 5em;
    content: '\201C';
    height: 0;
    margin: 0.5em 0 -0.3em -0.45em;
  }

  @media only screen and (max-device-width: 480px) {
    margin-right: 0;
  }
}

#newsletter {
  @include border($border-colour-light);
  margin-bottom: 3em;
  padding: 0 1em 1em 1em;
  text-align: center;
  border-radius: 5px;
}

#newsletter-email {
  @include border($border-colour-light);
  margin-top: 0.5em;
  font-size: 1.2em;
  padding: 0.1em;
  text-align: center;
  width: 25em;
  @media only screen and (max-device-width: 480px) {
    width: 12em;
  }
}

#newsletter-submit {
  @include border($border-colour-light);
  font-size: 1.0em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $text-background-colour;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  box-shadow: 0 1px 1px $border-colour-light;
}

#footer {
  background-color: $page-background-colour;
}

#leftbar {
  width: 60%;
  float: left;
}

#rightbar {
  width: 40%;
  float: right;
}

.sidebartext {
  font-size: 0.8em;
  padding-right: 1em;
}

#sidebar h2 {
  font-size: 1.2em;
  margin: 0.5em 0 0 0;
}

.index-lists h2 {
  font-size: 1.2em;
}

.index-lists, .stealth-lists {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

#sidebar, #menu {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
}

#content > ul {
  margin-top: 0;
  padding-left: 0;
  padding-top: 0.5em;
}

.clearboth {
  clear: both;
}

#referencesreferences {
  @media print {
    display: none;
  }
}

#references-available-on-request {
  display: none;

  @media print {
    display: inherit;
  }
}
