title: Mike McQuaid
description: CTPO and Homebrew Project Leader
url: https://mikemcquaid.com

author:
  name: Mike McQuaid
  email: mike@mikemcquaid.com
  uri: https://mikemcquaid.com
  twitter: MikeMcQuaid

twitter:
  username: MikeMcQuaid
  card: summary

logo: /images/default-card.png

social:
  name: Mike McQuaid
  links:
    - https://github.com/MikeMcQuaid
    - https://mastodon.social/@mikemcquaid
    - https://www.linkedin.com/in/mkmcqd
    - https://twitter.com/MikeMcQuaid

permalink: "/:title/"

exclude:
  - bin
  - CNAME
  - Gemfile*
  - LICENSE.txt
  - Rakefile,
  - ReadMe.md
  - vendor

plugins:
  - jekyll-asciidoc
  - jekyll-optional-front-matter
  - jekyll-redirect-from
  - jekyll-relative-links
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-titles-from-headings

sass:
  style: compressed

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: thoughts
    values:
      layout: thought
  - scope:
      path: ""
    values:
      image: /images/default-card.png

collections:
  talks:
    output: true
    permalink: "/talks/:title/"
  thoughts:
    output: true
    permalink: "/thoughts/:name/"
  interviews:
    output: false

github:
  repository_nwo: MikeMcQuaid/mikemcquaid.com
