---
title: Mike McQuaid
layout: base
---
{% assign combined = site.posts | concat: site.talks | concat: site.thoughts | concat: site.interviews %}
{% assign sorted = combined | sort: 'date' | reverse %}
{% assign has_thoughts = false %}
<ul class="index-lists index">
  {% for item in sorted limit:25 %}
  {% if item.collection == "thoughts" %}
  {% assign has_thoughts = true %}
  {% include thought-card.html thought=item %}
  {% elsif item.collection == "talks" %}
  {% include talk-card.html talk=item talk_date=item.date %}
  {% elsif item.collection == "interviews" %}
  {% include interview-card.html interview=item index_page=true %}
  {% else %}
  {% include article-card.html article=item show_date=true %}
  {% endif %}
  {% endfor %}
</ul>
{% if has_thoughts %}
{% include thought-actions.html %}
{% endif %}

{%- include newsletter.html -%}
