---
---
#title {
	min-height: 104px;
	background: url(/images/header.jpg) repeat-x top left;
	color: #EEE;
}

#title h1 {
	padding-top: 1.0em !important;
}

#sidebar {
	margin-top: 1em !important;
}

#index-list {
	padding-left: 0;
}

@media only screen and (max-device-width: 480px) {
	#title {
		min-height: 52px;
		background-size: 393px 52px;
	}
}

@import "_wordpress";
@import "_pygments";
