{% assign talk = include.talk %}
{% assign talk_title = talk.title | default: talk.slug %}
{% assign talk_date = include.talk_date | default: talk.date %}
{% assign talk_youtube_id = talk.youtube-id | default: "" | strip %}
{% assign talk_speakerdeck_id = talk.speakerdeck-id | default: "" | strip %}
{% assign talk_speakerdeck_ratio = talk.speakerdeck-ratio | default: "1.77777777777778" | strip %}
<li class="talk-card">
  <a href="{{ talk.url | absolute_url }}" title="{{ talk_title }}">
    <h2>
      {{ talk_title }}
    </h2>
  </a>
  {% if include.show_date != false and include.show_date != "false" %}
  <p class="post_date">
    {{ talk_date | date_to_long_string }}
  </p>
  {% endif %}
  {% if talk_youtube_id != "" %}
  {% include youtube-lite.html id=talk_youtube_id title=talk_title %}
  {% elsif talk_speakerdeck_id != "" %}
  {% include speakerdeck-lite.html id=talk_speakerdeck_id title=talk_title ratio=talk_speakerdeck_ratio %}
  {% endif %}
  {{ talk.description }}
  {% if include.include_transcript %}
  {% assign talk_tid = talk.transcript-id | default: talk_youtube_id %}
  {% if talk.transcript or talk.transcript-id %}
  {% include transcript.html id=talk_tid video_id=talk_youtube_id no_links=true %}
  {% endif %}
  {% endif %}
  <div class="clearboth"></div>
</li>
