---
title: Talks
layout: base
---
<ul class="index-lists">
{% for talk in site.talks reversed %}
  <li>
    <a href="{{ talk.url }}" title="{{ talk.title }}">
    {% if talk.speakerdeck-id %}
      <span class="speakerdeck-thumb"><img alt="{{ talk.title }} slides thumbnail" src="https://speakerd.s3.amazonaws.com/presentations/{{ talk.speakerdeck-id }}/thumb_slide_0.jpg"/></span>
    {% endif %}
      <h2>
        {{ talk.title }}
      </h2>
    </a>
    {{ talk.summary }}
    <br/>
    <div class="clearboth"></div>
  </li>
{% endfor %}
</ul>
