<!DOCTYPE html>
<html dir="ltr" lang="en-GB">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  {% seo_custom %}
  {% assign description = page.description | default: page.excerpt %}
  {% if description and description != "" %}
  {% assign safe_description = description | strip_html | escape %}
  <meta name="twitter:description" content="{{ safe_description }}" />
  {% endif %}
  <meta property="og:logo" content="{{ site.logo | absolute_url }}" />
  <meta property="article:publisher" content="{{ site.url }}" />
  <meta property="article:author" content="{{ site.author.uri }}" />
  {% if page.collection == "thoughts" %}
  <link rel="alternate" type="application/activity+json" href="{{ page.url | absolute_url }}" />
  {% endif %}

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/all.xml' | absolute_url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} (Articles)"
    href="{{ '/atom.xml' | absolute_url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} (Talks)"
    href="{{ '/talks.xml' | absolute_url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} (Interviews)"
    href="{{ '/interviews.xml' | absolute_url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} (Podcasts)"
    href="{{ '/podcasts.xml' | absolute_url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} (Thoughts)"
    href="{{ '/thoughts.xml' | absolute_url }}" />
  <link rel="stylesheet" type="text/css"
    href="{{ '/css/styles.css' | absolute_url }}?v={{ '/css/styles.css' | cache_bust }}" />
  <link rel="stylesheet" type="text/css"
    href="{{ '/css/pygments.css' | absolute_url }}?v={{ '/css/pygments.css' | cache_bust }}" />
  <link rel="icon" type="image/x-icon" sizes="any" href="{{ '/images/favicon.ico' | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ '/images/icon.png' | absolute_url }}">
  <link rel="apple-touch-icon" href="{{ '/images/apple-touch-icon.png' | absolute_url }}">
</head>

<body>
  <div id="header">
    <div id="title">
      <h1>
        <a href="{{ '/' | absolute_url }}">{{ site.title }}</a>
      </h1>
    </div>
    <div id="menu">
      <div>
        <ul>
          <li><a href="{{ '/articles' | absolute_url }}">Articles</a></li>
          <li><a href="{{ '/talks/' | absolute_url }}">Talks</a></li>
          <li><a href="{{ '/interviews/' | absolute_url }}">Interviews</a></li>
          <li><a href="{{ '/thoughts/' | absolute_url }}">Thoughts</a></li>
          <li><a href="{{ '/projects/' | absolute_url }}">Projects</a></li>
          <li><a title="Curriculum Vitae/Resume" href="{{ '/cv/' | absolute_url }}">CV</a></li>
          <li><a href="{{ '/now/' | absolute_url }}">Now</a></li>
          <li><a href="{{ '/about/' | absolute_url }}">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
      {{ content }}
    </div>
  </div>
  <div id="footer">
    <div id="sidebar" class="sidebartext">
      <div id="leftbar">
        <ul>
          <li>
            <img id="avatar" alt="Mike McQuaid" width="80px" height="80px"
              src="{{ '/images/me.jpg' | absolute_url }}" />
          </li>
          <li>
            <a href="https://github.com/sponsors/MikeMcQuaid" rel="me">Sponsor me on GitHub Sponsors</a>
          </li>
          <li>
            <a href="https://www.patreon.com/cw/MikeMcQuaid" rel="me">Support me on Patreon</a>
          </li>
          <li>
            {% if page.collection == 'posts' or page.url == '/articles/' %}
            {% assign feed_path = '/atom.xml' %}
            {% assign feed_label = 'RSS/Atom (Articles)' %}
            {% elsif page.collection == 'talks' or page.url contains '/talks/' %}
            {% assign feed_path = '/talks.xml' %}
            {% assign feed_label = 'RSS/Atom (Talks)' %}
            {% elsif page.collection == 'thoughts' or page.url contains '/thoughts/' %}
            {% assign feed_path = '/thoughts.xml' %}
            {% assign feed_label = 'RSS/Atom (Thoughts)' %}
            {% elsif page.url contains '/interviews/' %}
            {% assign feed_path = '/interviews.xml' %}
            {% assign feed_label = 'RSS/Atom (Interviews)' %}
            {% else %}
            {% assign feed_path = '/all.xml' %}
            {% assign feed_label = 'RSS/Atom' %}
            {% endif %}

            <a href="{{ feed_path | absolute_url }}">{{ feed_label }}</a>
          </li>
          <li>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC-BY-NC-SA</a> license
          </li>
        </ul>
      </div>
      <div id="rightbar">
        <ul>
          <li>
            <a href="https://github.com/MikeMcQuaid" rel="me">GitHub</a>
          </li>
          <li>
            <a href="https://mastodon.social/@mikemcquaid" rel="me">Mastodon</a>
          </li>
          <li>
            <a href="https://www.youtube.com/@mkmcqd" rel="me">YouTube</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mkmcqd/" rel="me">LinkedIn</a>
          </li>
          <li>
            <a href="https://x.com/MikeMcQuaid" rel="me">X (Twitter)</a>
          </li>
          <li>
            <a href="https://www.threads.net/@mkmcqd" rel="me">Threads</a>
          </li>
          <li>
            <a href="https://bsky.app/profile/mikemcquaid.com" rel="me">Bluesky</a>
          </li>
        </ul>
      </div>
      <div class="clearboth"></div>
    </div>
  </div>
</body>

</html>
