<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<title>{{ page.title }}</title>
		<meta charset="UTF-8" />
		<meta name="author" content="Mike McQuaid" />
		<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
		<link rel="alternate" type="application/atom+xml" title="A Liberal Christian Liberal" href="http://{{ site.url }}/blog/atom.xml" />
		<link rel="openid.server" href="http://www.myopenid.com/server" />
		<link rel="openid.delegate" href="http://mikemcquaid.myopenid.com/" />
		<link rel="openid2.local_id" href="http://mikemcquaid.myopenid.com" />
		<link rel="openid2.provider" href="http://www.myopenid.com/server" />
		<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=mikemcquaid.myopenid.com" />
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-22891731-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="header">
			<div id="title">
				<h1>
					<a href="/blog/">A Liberal Christian Liberal</a>
				</h1>
			</div>
			<div id="menu">
				<div>
					<ul>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/blog/music/">Music</a></li>
						<li><a href="/blog/about/">About</a></li>
					</ul>
				</div>
			</div><!--[if lt IE 8]><div style='background: red; color: black; font-size: 1.5em; padding: 0.1em; text-align: center;'><p>This site will not appear correctly with your current version of Internet Explorer.</p><p><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">For a faster, safer browsing experience, upgrade for free today.</a></p></div> <![endif]-->
		</div>
		<div id="main">
			<div id="content">
				{{ content }}
			</div>
		</div>
		<div id="footer">
			<div id="sidebar" class="sidebartext">
				<div id="leftbar">
					<ul>
						<li>
							<img alt='1' src='http://www.gravatar.com/avatar/215e0166d4d8265395c5d9076da73c70.jpg' class='avatar' height='80' width='80' />
						</li>
						<li>
							© <a href="mailto:mike@mikemcquaid.com">Mike McQuaid</a>
						</li>
						<li>
							<a href="http://creativecommons.org/licenses/by-nc-sa/2.5/scotland/">CC-BY-NC-SA</a> license
						</li>
					</ul>
				</div>
				<div id="rightbar">
					<ul>
						<li><a href="http://twitter.com/mikemcquaid">Twitter</a>
						</li>
						<li><a href="https://www.facebook.com/mkmcqd">Facebook</a>
						</li>
						<li><a href="https://plus.google.com/photos/100620417706280529127/albums">Photos</a>
						</li>
						<li><a href="/atom.xml">RSS</a>
						</li>
					</ul>
				</div>
				<div class="clearboth"></div>
			</div>
		</div>
	</body>
</html>
