---
layout: blog_base
---
<div class="type-post">
	<a href="{{ post_url }}" title="{{ page.title }}">
		<h2>
			{{ page.title }}
		</h2>
	</a>
	<p class="post_date">
		<a href="{{ post_url }}" title="{{ page.title }}">
			{{ page.date || date_to_long_string }}
		</a>
	</p>
	{{ content }}
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'mikemcquaid';
		var disqus_developer = 1;
		var disqus_url = "http://{{ site.url }}{{ page.url }}";

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript><strong>Please enable JavaScript to view comments.</strong></noscript>
	<div class="clearboth"></div>
</div>