---
layout: base
---
<div class="type-post">
  <a href="{{ post_url | absolute_url }}" title="{{ page.title }}">
    <h2>
      {{ page.title }}
    </h2>
  </a>
  <p class="post_date">
    <a href="{{ post_url | absolute_url }}" title="{{ page.title }}">
      {{ page.date | date_to_long_string }}
    </a>
  </p>
  {{ content }}
</div>

<div id="latest-posts">
  <h3>Latest Articles</h3>
  <ul>
    {% for post in site.posts limit:5 %}

    {% if page.url == post.url %}
    {% continue %}
    {% endif %}

    <li>
      <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{%- include newsletter.html -%}
