---
layout: base
---
<div class="type-post">
  <a href="{{ page.url | absolute_url }}" title="{{ page.title }}">
    <h2>
      {{ page.title }}
    </h2>
  </a>
  <p class="post_date">
    <a href="{{ page.url | absolute_url }}" title="{{ page.title }}">
      {{ page.date | date_to_long_string }}
    </a>
  </p>
  {{ page.description }}
  {{ content }}

  {% if page.youtube-id %}
  <iframe width="678" height="408" frameborder="0" allowfullscreen
    src="//www.youtube-nocookie.com/embed/{{ page.youtube-id }}"></iframe>
  {% endif %}

  {% if page.speakerdeck-id %}
  <noscript>**Please enable JavaScript to view slides.**</noscript>
  <script async class="speakerdeck-embed" data-id="{{ page.speakerdeck-id }}" data-ratio="{{ page.speakerdeck-ratio }}"
    src="https://speakerdeck.com/assets/embed.js"></script>
  {% endif %}
</div>
