---
layout: base
---
<div class="type-post">
  {% assign speakerdeck_ratio = page.speakerdeck-ratio | default: "1.77777777777778" %}
  <h2>
    {{ page.title }}
  </h2>
  <p class="post_date">
    <a href="{{ page.url | absolute_url }}" title="{{ page.title }}">
      {{ page.date | date_to_long_string }}
    </a>
  </p>
  {{ page.description }}
  {{ content }}

  {% if page.youtube-id %}
  {% include youtube-lite.html id=page.youtube-id title=page.title player_id="youtube-player" %}
  {% endif %}

  {% assign talk_transcript_id = page.transcript-id | default: page.youtube-id %}
  {% if page.transcript or page.transcript-id %}
  {% include transcript.html id=talk_transcript_id video_id=page.youtube-id audio_url=page.podcast_audio_url %}
  {% endif %}

  {% if page.speakerdeck-id %}
  {% include speakerdeck-lite.html id=page.speakerdeck-id title=page.title ratio=speakerdeck_ratio %}
  {% endif %}
  {% if page.youtube-id or page.speakerdeck-id or page.transcript or page.transcript-id %}
  <script defer src="{{ '/js/media-lite.js' | absolute_url }}?v={{ '/js/media-lite.js' | cache_bust }}"></script>
  {% endif %}
</div>
