name: GitHub Actions CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run HTML Proofer tests
        run: bundle exec rake

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v1

  deploy:
    needs: tests
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v2
        id: deploy-pages
    outputs:
      deploy_url: ${{ steps.deploy-pages.outputs.page_url }}
    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}
