name: GitHub Actions CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
        with:
          # Need full checkout for correct Git timestamps.
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Cache HTML Proofer
        uses: actions/cache@v5
        with:
          path: tmp/.htmlproofer
          key: ${{ runner.os }}-htmlproofer

      - name: Run HTML Proofer
        run: bundle exec rake test

      - name: Upload GitHub Pages artifact
        if: always()
        uses: actions/upload-pages-artifact@v4

  deploy:
    needs: tests
    if: ${{ always() && github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
        id: deploy-pages
    outputs:
      deploy_url: ${{ steps.deploy-pages.outputs.page_url }}
    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}
